$font-stack:    Roboto, sans-serif;
$primary-color: #16193B;
$secondary-color-dark: #35478C;
$secondary-color-light: #ADD5F7;
$bg-color: #D0D4F5;
$text-color: #ffffff;
$accent-color: #F07F4A;
$main-font: 'Raleway', sans-serif;
$head-font: 'Josefin Slab', serif;

html body {
  background-color: $bg-color;
}

nav{
  position: absolute;
  top: 0;
  height: 72px;
  background: $primary-color;
  z-index: 99;
  width: 100%;
  box-shadow: (0px -5px 3px 0px $secondary-color-dark);
  
  ul{
    background: $primary-color;
    height: 72px;
    margin: 0;
    padding: 0;
    list-style: none;
}
  h1{
    display: inline-block;
    font-family: $head-font;
    color: #ffffff;
  }
  li{
    padding-top: 12px;
    display: inline-block;
    height: 72px;
    transition: background 0.5s ease;
    background-color: $primary-color;
  }
  li:hover{
    background-color: $accent-color;
    text-decoration: none;
    box-shadow: (0px 2px 3px 0px $secondary-color-dark);
  }
  a{
    color: $text-color;
    display: inline-block;
    padding: 10px 16px;
    text-decoration: none;
    font-family: $main-font;
    font-size: 20px
  }
  a:hover{
    text-decoration: none;
  }
  a:link{
    color:$text-color;
  }
  a:visited{
    color:$text-color;
  }
  a:hover{
    color:$text-color;
  }
  a:focus{
    color:$text-color;
  }
  a:active{
    color:$text-color;
  }
  .head-center{
    max-width: 1200px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  .links{
    float: right;
  }
}

.container{
  margin-top: 72px;
  background-color: $bg-color;
}
